# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence, these users

# will be requested for review when someone opens a pull request.

# Actions common lib folder

/packages/actions-shared/ @segmentio/strategic-connections-team

# AJV utils

/packages/ajv-human-errors/ @segmentio/strategic-connections-team

# Browser destinations

/packages/browser-destinations/ @segmentio/libraries-web-team @segmentio/strategic-connections-team

# CLI binary

/packages/cli/ @segmentio/strategic-connections-team

# Core actions runtime

/packages/core/ @segmentio/strategic-connections-team

# Destination definitions and their actions

/packages/destination-actions/ @segmentio/strategic-connections-team

# Utilities for event payload validation against an action's subscription AST.

/packages/destination-subscriptions/ @segmentio/strategic-connections-team
