name: Test External

on: [push]

jobs:
  install-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://registry.npmjs.org'

      - name: Install
        run: yarn install

      - name: Bootstrap
        run: yarn bootstrap

      - name: Test
        run: yarn test

      - name: Build
        run: NODE_ENV=production yarn build
