name: Publish Canary

on: 
  issue_comment:
    types:
      - created

jobs:
  test-build-and-publish:
    runs-on: ubuntu-latest

    if: ${{ github.event.issue.pull_request && github.event.comment.body == '/publish-canary' }}

    steps:
      - name: Notify start
        uses: actions/github-script@v4
        with:
          script: |
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: "Publishing canary package...",
            }); 

      - name: Get PR SHA
        id: sha
        uses: actions/github-script@v4
        with:
          result-encoding: string
          script: |
            const { owner, repo, number } = context.issue;
            const pr = await github.pulls.get({
              owner,
              repo,
              pull_number: number,
            });
            return pr.data.head.sha
      
      - name: Checkout branch
        uses: actions/checkout@v2
        with:
          ref: ${{ steps.sha.outputs.result }}
          fetch-depth: 0

      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn install --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Build
        run: NODE_ENV=production yarn build

      - name: Lint
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: yarn lint

      - name: Test
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: yarn test

      - name: Set author
        run: |
          git config user.email "`git log --format='%ae' HEAD^!`"
          git config user.name "`git log --format='%an' HEAD^!`"
          git config user.email
          git config user.name

      - name: Set NPM Token
        run: |
          npm set '//registry.npmjs.org/:_authToken' ${{ secrets.NPM_TOKEN }}
          npm whoami

      - name: Publish prerelease from PR
        run: lerna publish prerelease --canary --preid pull-${{ github.event.issue.number }} --pre-dist-tag canary --no-verify-access --yes

      - name: Notify end
        uses: actions/github-script@v4
          with:
            script: |
              github.issues.createComment({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                body: 'Canary package publishing complete. See the actions tab for more details.',
              });
